.my-modal{
    width: 30rem;
    max-width: 90%;
    margin: 3rem auto;
    padding: 2rem;
    box-shadow: 0 2px 12px rgb(0 0 0 / 20%);
    border-radius: 10px;

    position: absolute;
    inset: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-modal button{
    margin: 1rem 0;
    background: #8b005d;
    box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
    color: white;
    padding: 10px 20px;
}